html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "Fira Sans", sabs-serif;
	font-weight: 400;
	background-color: #171919;
	color: #fff;
	text-transform: uppercase;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
}
.headline-left {
	opacity: 0.5;
	font-size: 22px;
	padding-left: 103px;
	position: relative;
	display: inline-block;
	letter-spacing: 7.33333px;
	&::before {
		content: "";
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: #fff;
		left: 0;
		top: 50%;
	}
}
.btn {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;

	span {
		padding: 17px 57px 20px 17px;
		background-color: $green;
		display: inline-block;
		margin-left: 15px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 1px;
			background-color: #fff;
			z-index: 3;
			top: 50%;
			left: -10px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 25px;
			height: 21px;
			background-image: url(../images/arrow-right.svg);
			top: 50%;
			right: 17px;
			transform: translateY(-50%);
		}
	}
}
